<h2> Ciao <%= @facebook_user.first_name @facebook_user.last_name %> </h2>
<br/> <br>

<div id='favourite_books'>
	<%=render :partial => "favourites/profil_table" %>
</div>


<div id='user_side_books'>

	<div id='col_list_book'>Listing books</div>

	<br/> <br/>

<% for book in @books %>
<div class="book_div">
<table class="book_table">
	<tr>
		<td class='book_photo'><%= image_tag (book.photo, :width => '80') %></td>
		<td>
			<div class='book_index_title' > <%= link_to book.title , book %> </div>
    	<div class='book_index_summary'>
			<p>
				<%= truncate(book.summary, :length => 350, 
				:omission => " <span class='book_index_summary_ommission'>"+ link_to ("[...]" , book) + "</span>" ) %>
			</p>
			</div>
			<div class='book_actions'>
			<%= link_to 'Mi piace', select_book_path(book), :method => :put  %>
			</div>
		</td>
	</tr>
</table>
</div>
<%	end %>

<br>
<div id="paginate_div"><%= will_paginate @books %></div>

</div>

<div id='social_side_books'>

	<%= render :partial => "/books/friends_book.fbml.erb" %>
	<br/> <br/>
	<%= render :partial => "/books/top_five_book.fbml.erb" %>

</div>

<!-- <%= link_to 'New book', new_book_path %> -->
