<% if !flash[:should_publish] %> <div id='publish_proposition'> <%= link_to 'Publish', publish_books_url %> </div> <% end %>

<div id='favourite_books'>
	<%=render :partial => "favourites/profil_table" %>
</div>


<div id='user_side_books'>
	
	<div id='col_list_book'>Listing books</div>
	<div id="book_search_form"> 
			
	<% form_tag books_path, :method => 'get' do %>
		Search : 
	    <%= text_field_tag :search, params[:search] %>
	<% end %>
	
	</div>

	<br/> <br/>

<% for book in @books %>
<div class="book_div">
<table class="book_table">
	<tr>
		<td class='book_photo'><%= image_tag (book.photo, :width => '80') %></td>
		<td>
			<div class='book_index_title' > <%= link_to book.title , book %> </div>
    	<div class='book_index_summary'>
			<p>
				<%= truncate(book.summary, :length => 350, 
				:omission => " <span class='book_index_summary_ommission'>"+ link_to ("[...]" , book) + "</span>" ) %>
			</p>
			</div>
			<div class='book_actions'>
			<% if book.is_a_favourite?(@user) %>
			<%= link_to 'Non Mi piace', unselect_book_path(book), :method => :put  %>
			<% else %>
			<%= link_to 'Mi piace', select_book_path(book), :method => :put  %>
			<% end %>
			</div>
		</td>
	</tr>
</table>
</div>
<%	end %>

<br>
<div id="paginate_div"><%= will_paginate @books %></div>

</div>


<div id='social_side_books'>

	<div id='col_friends_book'>
		<%= render :partial => "/books/friends_book.fbml.erb" %>
	</div>
	
	<br/> <br/>
	<div id='col_top_five_book'>
		<%= render :partial => "/books/top_five_book.fbml.erb" %>
	</div>
</div>
