<h1>Listing books</h1>

<% for book in @books %>
<table>
	<tr class="book">
		<td><%= image_tag (book.photo, :size => "100x150") %></td>
		<td><%= link_to h(book.title) , book %>
    	<p>
				<%=h truncate(book.summary, :length => 1000) %>
			</p>
			<%= link_to 'Mi piace', select_book_path(book), :method => :put  %>
			<%= link_to_remote 'Mi piace', :update => "profil_table",
			 :url => { :controller => "book", :action => "select_remote"}, 
			 :with => "'id=' + #{book.id}"
			%>
			
		</td>
	</tr>
</table>
<%	end %>

<%= will_paginate @books %>

<%= link_to 'New book', new_book_path %>

