<div>
<table id="book_show_table">
<tr>
	<td >
		<%= image_tag @book.photo , :width => '150' %>
	</td>
	
	<td>
		<span id='book_show_title'><h2><%= @book.title %></h2></span>
		<span id='book_show_author'><h2> of <%=h @book.author %> </h2></span>
		<p>
			<%=h @book.summary %>
		</p>
		
		<p id='book_show_info'>
			Edition: <%=h @book.publish_at %> <br>
			Publisher: <%=h @book.edition %>  
		</p>
	</td>
<tr>	
</table>

</div>

<div>
Add a video comment

</div>

<br/>
<%= link_to 'Back', books_path %>
