<%= javascript_include_tag 'pickmi' %>

<%= stylesheet_link_tag 'book' %>
<%= stylesheet_link_tag 'facebook' %>

<div id='application_title'> <%= link_to 'PICKMI - CHOOSE YOUR FIVE FAVOURITE BOOKS', root_url %>  </div>
<br/>
<% unless flash[:notice].nil? %>
<div id='notice'> <%= flash[:notice] %> </div>
<% end %>


<%= yield  %>
